services:

    nodebb:
        depends_on:
            database:
                condition: service_healthy
        image: ubuntu:24.04
        container_name: nodebb
        networks:
            - backend
        volumes:
            - 'dtnodebb:${WEBSERVER_DOC_ROOT}'
            - 'nbconfig:/opt/config'
        hostname: nodebb
        restart: unless-stopped
        ports:
            - '4567:4567'
        healthcheck:
            test: ["CMD-SHELL", "node /opt/config/healthcheck.js > /dev/null || exit 1"]
            interval: 5s
            timeout: 5s
            retries: 200
        environment:
            CONFIG: '${NODEBB_CONFIG}'
            NODEBB_CONFIG: '${NODEBB_CONFIG}'
            NODEBB_URL: 'https://${SUBDOMAIN}.${DOMAIN_NAME}'
            NODEBB_PORT: '4567'
            NODEBB_ADMIN_USERNAME: 'admin'
            NODEBB_ADMIN_PASSWORD: 'admin123'
            NODEBB_ADMIN_EMAIL: '${LETSENCRYPT_EMAIL}'
            NODEBB_DB: 'mongo'
            NODEBB_DB_HOST: 'database'
            NODEBB_DB_PORT: '27017'
            NODEBB_DB_USER: '${DATABASE_USERNAME}'
            NODEBB_DB_PASSWORD: '${DATABASE_USER_PASSWORD}'
            NODEBB_DB_NAME: '${DATABASE_NAME}'
            TZ: '${LOCAL_TIMEZONE}'
        labels:
            - 'docker-volume-backup.stop-during-backup=true'
        command: bash -c "apt update && apt install -y curl gnupg git && curl -fsSL https://deb.nodesource.com/setup_lts.x -o nodesource_setup.sh && bash nodesource_setup.sh && apt install -y nodejs && node -v && npm -v && groupadd --gid 1001 nodebb && useradd --uid 1001 --gid 1001 --home-dir /usr/src/app --shell /bin/bash nodebb && rm -f ${WEBSERVER_DOC_ROOT}/README.md && chown nodebb:nodebb -R /opt/config && 
            if [ ! -f \"${NODEBB_CONFIG}\" ]; then git clone -b v4.x https://github.com/NodeBB/NodeBB.git ${WEBSERVER_DOC_ROOT}; ${WEBSERVER_DOC_ROOT}/nodebb setup --skip-build --config=${NODEBB_CONFIG}; fi && chown nodebb:nodebb -R /opt/config ${WEBSERVER_DOC_ROOT} && su -c 'npm install --prefix ${WEBSERVER_DOC_ROOT} && ${WEBSERVER_DOC_ROOT}/nodebb activate nodebb-theme-harmony --config=${NODEBB_CONFIG} && ${WEBSERVER_DOC_ROOT}/nodebb build --config=${NODEBB_CONFIG} && ${WEBSERVER_DOC_ROOT}/nodebb start -l --config=${NODEBB_CONFIG}' - nodebb"

    proxy:
        depends_on:
            nodebb:
                condition: service_healthy
        image: nginx:stable
        container_name: proxy
        networks:
            - backend
            - frontend
        volumes:
            - type: bind
              source: ./proxy/nginx.conf
              target: '${PROXY_PREFIX}/nginx.conf'
            - type: bind
              source: ./proxy/templates/proxy.conf.template
              target: '${PROXY_PREFIX}/templates/default.conf.template'
            - type: bind
              source: ./proxy/ssl-option/options-ssl-nginx.conf
              target: '${LETSENCRYPT_CONF_PREFIX}/options-ssl-nginx.conf'
            - type: bind
              source: ./ssl-proxyconf.sh
              target: '/tmp/ssl-proxyconf.sh'
            - 'certbot-etc:${LETSENCRYPT_CONF_PREFIX}'
            - '/tmp/acme-challenge:/tmp/acme-challenge'
        hostname: proxy
        restart: unless-stopped
        ports:
            - '80:80'
            - '443:443'
        healthcheck:
            test: ["CMD-SHELL", "/bin/pidof nginx > /dev/null || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 50
        environment:
            NGINX_HOST: ${SUBDOMAIN}.${DOMAIN_NAME}
            NGINX_PORT: 80
            TZ: '${LOCAL_TIMEZONE}'
        command: bash -c "/docker-entrypoint.sh nginx -v; sh /tmp/ssl-proxyconf.sh '${SUBDOMAIN}.${DOMAIN_NAME}' '${LETSENCRYPT_CONF_PREFIX}' '${PROXY_PREFIX}'"

    certbot:
        depends_on:
            proxy:
                condition: service_healthy
        image: certbot/certbot:latest
        container_name: certbot
        networks:
            - backend
        volumes:
            - 'certbot-etc:${LETSENCRYPT_CONF_PREFIX}'
            - 'certbot-var:/var/lib/letsencrypt'
            - '/tmp/acme-challenge:/tmp/acme-challenge'
        restart: unless-stopped
        healthcheck:
            test: ["CMD-SHELL", "test -d ${LETSENCRYPT_CONF_PREFIX}/live/${SUBDOMAIN}.${DOMAIN_NAME} || exit 1"]
            interval: 5s
            timeout: 5s
            retries: 20
        environment:
            TZ: '${LOCAL_TIMEZONE}'
        entrypoint: /bin/sh -c "${SSL_SNIPPET}; trap exit TERM; while :; do certbot renew --dry-run; sleep 12h & wait $${!}; done;"

    database:
        image: ${DATABASE_IMAGE_NAME}:${DATABASE_VERSION}
        container_name: database
        networks:
            - backend
        volumes:
            - 'db:/data/db'
            - 'dbconfig:/data/configdb'
            - 'db-backup-data:/tmp/backup'
            - type: bind
              source: ./database/init.js
              target: '/docker-entrypoint-initdb.d/init.js'
            - type: bind
              source: ./database/${DATABASE_IMAGE_NAME}.conf
              target: '/etc/mongod.conf'
        hostname: database
        restart: unless-stopped
        ports:
            - '27017:27017'
        healthcheck:
            test: ["CMD-SHELL", "mongosh --quiet -u ${DATABASE_USERNAME} -p ${DATABASE_USER_PASSWORD} --authenticationDatabase ${DATABASE_NAME} --eval 'db.runCommand({ ping: 1 }).ok' || exit 1"]
            interval: 1s
            timeout: 5s
            retries: 50
        environment:
            MONGO_INITDB_ROOT_USERNAME: 'admin'
            MONGO_INITDB_ROOT_PASSWORD: '${DATABASE_ROOT_PASSWORD}'
            MONGO_INITDB_DATABASE: 'admin'
            TZ: '${LOCAL_TIMEZONE}'
        labels:
            - "docker-volume-backup.stop-during-backup=true"
            - "docker-volume-backup.archive-pre=/bin/sh -c 'mongodump --host='localhost' --port=27017 --gzip --out=/tmp/backup'"
            - "docker-volume-backup.exec-label=database"
        command: >
            bash -c "echo -e \"db = db.getSiblingDB('${DATABASE_NAME}');\\ndb.createUser( { user: '${DATABASE_USERNAME}', pwd: '${DATABASE_USER_PASSWORD}', roles: [ { role: 'readWrite', db: '${DATABASE_NAME}' }, { role: 'clusterMonitor', db: 'admin' } ] } )\" > /docker-entrypoint-initdb.d/init.js && docker-entrypoint.sh mongod"

    compass:
        depends_on:
            database:
                condition: service_healthy
        image: haohanyang/compass-web
        container_name: compass
        networks:
            - backend
            - frontend
        hostname: compass
        restart: unless-stopped
        ports:
            - '9090:8080'        
        links:
            - database
        environment:
            CW_HOST: 'compass'
            CW_PORT: 9090
            CW_MONGO_URI: 'mongodb://${DATABASE_USERNAME}:${DATABASE_USER_PASSWORD}@database:27017/${DATABASE_NAME}'
            CW_BASIC_AUTH_USERNAME: '${CW_BASIC_AUTH_USERNAME}'
            CW_BASIC_AUTH_PASSWORD: '${CW_BASIC_AUTH_PASSWORD}'
            CW_APP_NAME: '${CW_APP_NAME}'
            TZ: '${LOCAL_TIMEZONE}'

    backup:
        image: offen/docker-volume-backup:latest
        container_name: backup
        networks:
            - backend
        volumes:
            - 'dtnodebb:/backup/dtnodebb:ro'
            - 'db:/backup/db:ro'
            - 'db-backup-data:/backup/db-backup-data:ro'
            - '/var/run/docker.sock:/var/run/docker.sock:ro'
            - type: bind
              source: ./backups
              target: /archive
        hostname: backup
        restart: unless-stopped
        environment:
            BACKUP_CRON_EXPRESSION: '20 01 * * *'
            BACKUP_FILENAME: 'backup-%Y-%m-%dT%H-%M-%S.tar.gz'
            BACKUP_RETENTION_DAYS: '7'
            EXEC_LABEL: 'database'
            #BACKUP_EXCLUDE_REGEXP: 'folder|folder|file|\\.log$$'

networks:
    backend: null
    frontend: null

volumes:
    dtnodebb:
        name: nodebb-data
        driver: local
        driver_opts:
            type: none
            device: ${DIRECTORY_PATH}/nodebb/app
            o: bind
    nbconfig:
        name: nodebb-config-data
        driver: local
        driver_opts:
            type: none
            device: ${DIRECTORY_PATH}/nodebb/config
            o: bind
    db:
        name: ${DATABASE_CONT_NAME}-data
    dbconfig:
        name: ${DATABASE_CONT_NAME}-config-data
    db-backup-data:
        name: ${DATABASE_CONT_NAME}-backup-data
    certbot-etc:
        external: true
    certbot-var:
        name: certbot-var
