WEBSERVER_DOC_ROOT=/usr/src/app
PROXY_PREFIX=/etc/nginx
LOCAL_TIMEZONE=local_timezone
DOMAIN_NAME=example.com
SUBDOMAIN=subdomain
DIRECTORY_PATH=directory_path

LETSENCRYPT_EMAIL=email@domain.com
LETSENCRYPT_CONF_PREFIX=/etc/letsencrypt
SSL_SNIPPET=ssl_snippet

NODEBB_CONFIG=/opt/config/config.json

DATABASE_USERNAME=db_username
DATABASE_USER_PASSWORD=db_user_password
DATABASE_NAME=db_name

DATABASE_CONF_PREFIX=/etc/mongo
DATABASE_ROOT_PASSWORD=database_root_password
DATABASE_IMAGE_NAME=mongo
DATABASE_CONT_NAME=mongo
DATABASE_VERSION=latest

CW_BASIC_AUTH_USERNAME=compass_username
CW_BASIC_AUTH_PASSWORD=compass_password
CW_APP_NAME=MongoDB Admin

REDIS_CONF_PREFIX=/usr/local/etc
